<h1>Lista de Movimientos de Inventario</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id Movimiento</th>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Cliente</th>
            <th>Movimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimiento in Model)
        {
            <tr>
                <td>@movimiento.IdMovimiento</td>
                <td>@movimiento.NombreProducto</td>
                <td>@movimiento.FechaMovimiento</td>
                <td>@movimiento.Cantidad</td>
                <td>@movimiento.NombreCliente</td>
                <td>@movimiento.TipoMovimiento</td>
            </tr>
        }
    </tbody>
</table>

<h3>Generar Reporte PDF</h3>
<a asp-controller="Reportes" asp-action="GenerarPdf" asp-route-periodo="dia" class="btn btn-primary">Último Día</a>
<a asp-controller="Reportes" asp-action="GenerarPdf" asp-route-periodo="semana" class="btn btn-primary">Últimos 7 Días</a>
<a asp-controller="Reportes" asp-action="GenerarPdf" asp-route-periodo="mes" class="btn btn-primary">Último Mes</a>
